<ion-header>
  <ion-navbar>
    <ion-title>
      Task Manager
    </ion-title>
    <ion-buttons end>
        <button ion-button icon-left (click)="toggleReorder()">
            <ion-icon name="reorder"></ion-icon>
        </button>
        <button ion-button icon-left (click)="addTask()">
            <ion-icon name="add-circle"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="refreshTasks($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list [reorder]="reorderIsEnabled" (ionItemReorder)="itemReorder($event)">
        <ion-item-sliding #slidingItem *ngFor="let task of tasks; index as idx">
             <ion-item-options side="left">
                <button ion-button
                        color="dark"
                        (click)="editTask(idx, slidingItem)">
                    <ion-icon name="open"></ion-icon>
                </button>
             </ion-item-options>
             <ion-item  text-wrap>
                <ion-icon name="cloud-done" 
                          color="secondary"
                          *ngIf="task.status === 'done'"></ion-icon>
                {{task.title}}
             </ion-item>
            <ion-item-options side="right">
                <button ion-button
                        color="light"
                        (click)="archiveTask(idx)">
                    <ion-icon name="archive"></ion-icon>
                </button>
                 <button ion-button
                        color="secondary"
                        (click)="markAsDone(idx, slidingItem)">
                    <ion-icon name="checkmark-circle"></ion-icon>
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-fab right bottom>
        <button ion-fab 
                (click)="gotoArchivePage()"
                >
            <ion-icon name="archive"></ion-icon>
        </button>
    </ion-fab>
</ion-content>
